<div class="align-center">
  <a href="https://digitalocean.pxf.io/c/3259613/1373783/15890" target="_top" id="1373783"><img src="//a.impactradius-go.com/display-ad/15890-1373783" border="0" alt="" width="728" height="90"/></a><img height="0" width="0" src="https://imp.pxf.io/i/3259613/1373783/15890" style="position:absolute;visibility:hidden;" border="0" />
  </div>
<!-- Load required Javascript -->
<script src="{{ .Site.BaseURL }}lib/jquery.min.js"></script> <!-- jQuery.js -->
<script src="{{ .Site.BaseURL }}lib/popper.min.js"></script> <!-- Popper.js - dependency of Bootstrap -->

<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script> <!-- Other javascript -->

<!-- Plugin: search -->
<script type="text/javascript" src="{{"plugins/lunr.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"plugins/auto-complete.js" | relURL}}"></script>
<link href="{{"plugins/auto-complete.css" | relURL}}" rel="stylesheet">
<script type="text/javascript">
  {{ if .Site.IsMultiLingual }}
      var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
  {{ else }}
      var baseurl = "{{.Site.BaseURL}}";
  {{ end }}
</script>
<script type="text/javascript" src="{{"plugins/search.js" | relURL}}"></script>

<!-- Plugin: clipboard -->
<script type="text/javascript" src="{{"plugins/clipboard.js" | relURL}}"></script>
<script>
  new ClipboardJS('.btn');
</script>
